/* 书籍入库界面的CSS */
.input-area {
    display: inline;
    float: left;
    margin-left: 100px;
    margin-top: 25px;
}
.input-table {
    font-size: 25px;
}
.cover-area {
    display: inline;
    float: left;
    margin-left: 120px;
    margin-top: 25px;
}
