/* 页面的整体结构 */
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.left-menu {
    display: inline;
    float: left;
    background-color: rgb(2, 16, 36);
    color: white;
    text-align: center;
    width: 150px;
    height: 100%;
}
.rigt-body {
    display: inline;
    float: left;
    height: 100%
}
.span {
    width: 25px;
    height: 100%;
    display: inline;
    float: left;
}
.alert {
    display: none;
}
